<div class="container">
    <div class="row">
        <div class="card-signin col-sm-9 col-md-7 col-lg-5 mx-auto my-5">
            <div class="card-body">
                <form class="form-signin">
                    <h1>Sign in</h1>
                    <label for="nickname"></label>
                    <input type="text" id="nickname" class="form-control" placeholder="nickname">
                    <label for="password"></label>
                    <input type="password" id="password" class="form-control" placeholder="password">
                    <button class="btn btn-primary form-control">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>